.ant-menu-item {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.recon-contract-editor {
  overflow-y: scroll;
}

.recon-contract-editor::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.05);
}

.recon-contract-editor::-webkit-scrollbar {
  width: 0.25rem;
  background-color: transparent;
}

.recon-contract-editor::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.35);
}
