.popout1 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.popout2 {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.4);
}

.popout3 {
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.5);
}

.ca {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ch {
  display: flex;
  justify-content: center;
}

.cv {
  display: flex;
  align-items: center;
}

.tr1 {
  transition: all 300ms;
}

.tr2 {
  transition: all 600ms;
}

.tr3 {
  transition: all 900ms;
}

.rb {
  width: 4rem;
  height: 4rem;
  background: red;
  margin: 0 1rem;
}

.move {
  cursor: move;
}

.not-allowed {
  cursor: not-allowed;
}

.soft-shadow1 {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
