.theme-green {
  color: #4AFF5B;
}

.theme-bg-green {
  background: #4AFF5B;
}

.theme-gray {
  color: #232C3D;
}

.theme-bg-gray {
  background: #232C3D;
}

.theme-white {
  color: #F3F4F5;
}

.theme-bg-white {
  background: #F3F4F5;
}
